$main-color:#96bb7c;
$text-color: #737373;
$line-color:#E74040;
$light-color:white;
$muted-color: #BDBDBD;
$star-color: #F3CD03;
$form-color: #dddcdc6e;
$sale-color: #E74040;
$secondary-color: #FFAB71;






